.profile {
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
  border-radius: 50%;
}
body {
  background-color: aquamarine;
}
.navlist {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: #000000;
  width: auto;
}
header {
  text-align: center;
}
.navlist > li {
  display: inline;
  text-align: center;
  border: 1px;
  border-color: beige;
}
a {
  padding: 11px;
}
a:visited {
  color: beige;
  text-decoration: none;
}
a:link {
  color: beige;
  text-decoration: none;
}
.bio {
  text-align: center;
  font-size: large;
  padding : 40px;
}
.intro {
  text-align: center;
}
.siteTitle {
  text-decoration: underline;
}
