.contactForm {
  margin: auto;
  text-align: center;
  width: auto;
}
.subtext {
    text-align: center;
    font-size: large;
  }
p[id = "checker"]
{
    text-align: center;
}
a.email {
  color: blue;
  text-align: center;
  font-size: large;
}